
{% extends "layout.html" %}

{% block title %}
	Articles - {{super()}}
{% endblock %}

{% block og_title %}
	Articles - {{super()}}
{% endblock %}

{% block body_classes %}articles{% endblock %}


{% block main %}
<div class="boxes">
	<a href="/" class="box">
		<svg class="icon icon--full"><use xlink:href="#icon-logo"></use></svg>
	</a>

	{% for article in list.posts %}
	<a href="/lists/{{list.route}}/posts/{{article.route}}" class="box">
		<div></div>
		<div>
			<h4>{{article.title}}</h4>
			<h6>{{article.published_at|date}}</h6>
		</div>
	</a>
	{% endfor %}
</div>
{% endblock %}