
{% extends "layout.html" %}

{% block title %}
	{{post.title|striptags}} - Articles - {{super()}}
{% endblock %}

{% block og_title %}
	{{post.title|striptags}} - Articles - {{super()}}
{% endblock %}

{% block body_classes %}articles {{post.route}}{% endblock %}

{% block main %}
	<article class="grid grid--stretch" data-post-id="{{post._id}}">
		<div class="box">
			<div>
				<h2 data-title>{{post.title}}</h2>
				<p><span data-published-date>{{post.published_at|date}}</span></p>
				<p><span data-tags class="tags">{% for tag in post.tags %}<a href="/lists/articles/tags/{{tag}}" class="tag" data-tag>{{tag}}</a>{% endfor %} <span data-tag-input></span></span></p>
			</div>
		</div>

		<div class="col col--9of12 col--small--12of12 white_back padded padded--thick">
			<div class="max_width alternate_first_line underline_links" data-content-key="body" data-is-markdown>
				{{post.body|safe}}
			</div>
		</div>
	</article>

	{% include "boxes.html" %}
{% endblock %}


{% block scripts %}
	{{super()}}


	<script>
		window.list_id = "{{post.parent._id}}";
		window.list_route = "{{post.parent.route}}";
	</script>
{% endblock %}
